.github/*
.editorconfig
.husky/*
.vscode/*
/commitlint.config.mjs
/dist/changelog.md
/dist/version.txt
/.gitattributes
/eslint.config.mjs
/.markdownlint-cli2.yaml
/.markdownlintignore
/.prettierignore
/.prettierrc.json
/.tool-versions
/pnpm-workspace.yaml
