.github/*
.editorconfig
.eslintrc.js
.husky/*
.markdownlint-cli2.yaml
.tool-versions
commitlint.config.cjs
permissions-backup.acl
/dist/changelog.md
/dist/version.txt
/.prettierignore
/.prettierrc.json
/.gitattributes
