.github/*
.editorconfig
.husky/*
/commitlint.config.mjs
/dist/changelog.md
/dist/version.txt
/.gitattributes
/.eslintrc.config.mjs
/.markdownlint-cli2.yaml
/.markdownlintignore
/.prettierignore
/.prettierrc.json
/.tool-versions
